@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Montserrat&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* main color white */
/* secondary color #0069FF */
/* accent color #0069FF */



:root {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: black;
  /* background-color: #06ff00;
  background-image: linear-gradient(0deg, #06ff00 0%, #000000 100%); */
  /* background-color: #00ff0b;
background-image: linear-gradient(43deg, #00ff0b 37%, #84c850 53%, #000000 69%); */
  /* background-color: #000000;
background-image: linear-gradient(180deg, #000000 0%, #003400 35%, #02ff0e 92%); */
  /* background-color: #000000;
background-image: linear-gradient(163deg, #000000 0%, #003400 35%, #02ff0e 92%); */
  /* background-color: #000000;
background-image: linear-gradient(168deg, #000000 28%, #003400 48%, #02ff0e 92%); */
  /* background-color: #000000;
background-image: linear-gradient(180deg, #000000 25%, #003400 60%, #02ff0e 90%); */
  /* background-color: #000000;
background-image: linear-gradient(180deg, #000000 25%, #003400 71%, #02ff0e 100%); */
  /* background-color: #000000; */
  /* background-image: linear-gradient(180deg, #000000 0%, #003400 72%, #02ff0e 100%); */
}

h2 {
  font-size: 1.25rem/* 20px */;
  line-height: 1.75rem/* 28px */;
  font-weight: bold;
}

h3 {
  font-size: 1.125rem /* 18px */;
  line-height: 1.75rem /* 28px */;
  font-weight: bold;
}
